/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.first {
  background-color: #29abe2;
}
.title {
  font-family: 'Rock Salt', sans-serif;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  margin: 0;
}
.center {
  text-align: center;
}
.vert-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  min-width: 100px; 
}
@-webkit-keyframes pulsate {
  0%   {background-color: #29abe2}
  25%  {background-color: #001f3f}
  50%  {background-color: #424242}
  75%  {background-color: #ff851b}
  100% {background-color: #29abe2}
}
@-moz-keyframes pulsate {
  0%   {background-color: #29abe2}
  25%  {background-color: #001f3f}
  50%  {background-color: #424242}
  75%  {background-color: #ff851b}
  100% {background-color: #29abe2}
}
@-o-keyframes pulsate {
  0%   {background-color: #29abe2}
  25%  {background-color: #001f3f}
  50%  {background-color: #424242}
  75%  {background-color: #ff851b}
  100% {background-color: #29abe2}
}
@keyframes pulsate {
  0%   {background-color: #29abe2}
  25%  {background-color: #001f3f}
  50%  {background-color: #424242}
  75%  {background-color: #ff851b}
  100% {background-color: #29abe2}
}
body {
  -webkit-animation: pulsate 30s infinite;
  -moz-animation: pulsate 30s infinite;
  -o-animation: pulsate 30s infinite;
  animation: pulsate 30s infinite;
}
@media (max-width: 681px) {
  .title {
    font-size: 2rem;
  }
  .webicon .large {
    height: 36px;
    width: 36px;
  }
}
@media (max-width: 480px) {
  .vert-center {
    height: 53%;
  }
}

.svg .webicon:hover {
  fill: white;
}
